body{
text-align:center;
}
#welcome{
color: chocolate;
}
h1{
 color:red;
}
.links{
font-size:20px;
color:darkorange;
display: inline;
padding:10px;
}
.menu{
list-style: none;
display: table-cell;
vertical-align: middle;
padding-left: 33px;
padding-right: 25px;
background-color: crimson;
}
.links:hover {
    background-color: oldlace;
    font-size:25px;
    text-decoration:underline;
    color: blue;}
pics div{
text-align: center;
}
#library{
height: 90px;
}
#auditorium{
height: 90px;
}